### Q1

### MongoDB is an open source NoSQL database management program. NoSQL is used as an alternative to traditional relational databases.
### A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored. For example, data may be stored as simple key/value pairs, as JSON documents, or as a graph consisting of edges and vertices.
### MongoDB is prefered when
1. We are storing large volumes of data without structure.
2. We need dynamic schema.
3. We need scalability.

### Q2

### Features of MongoDB
1. Support ad hoc queries - We cam search by field, range query and it also supports regular expression searches.
2. Indexing - We can index any field in a document.
3. Replication - When our data only resides in a single database, it is exposed to multiple potential points of failure, such as a server crash, service interruptions, or even good old hardware failure. Any of these events would make accessing your data nearly impossible. Replication allows us to sidestep these vulnerabilities by deploying multiple servers for disaster recovery and backup. Horizontal scaling across multiple servers that house the same data (or shards of that same data) means greatly increased data availability and stability. Naturally, replication also helps with load balancing. When multiple users access the same data, the load can be distributed evenly across servers.
4. Sharding - When dealing with particularly large datasets, sharding—the process of splitting larger datasets across multiple distributed collections, or “shards”—helps the database distribute and better execute what might otherwise be problematic and cumbersome queries. Without sharding, scaling a growing web application with millions of daily users is nearly impossible.
5. Load balancing - Has an automatic load balancing configuration because of data placed in shards.

### Q3

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.6 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 33.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [21]:
#Code to connect to MongoDB
import pymongo
#below password is changed after all cells are executed
client = pymongo.MongoClient("mongodb+srv://user:aqzwsedx123@cluster0.cg2sh5t.mongodb.net/?retryWrites=true&w=majority")
#Database creation. In MongoDB database is created if and only if there is a collection in it/collection created in it.
db = client['newdb']
#Collection creation.
coll_create = db['newcollection']

### Q4

In [4]:
#Inserting one record
data = {"name" : "Adithya",
        "gender" : "M"
}

coll_create.insert_one(data)

#Inserting many records
data1 = [
  { "name": "A", "gender": "F" },
  { "name": "B", "gender": "M" },
  { "name": "C", "gender": "F" },
  { "name": "D", "gender": "M" },
  { "name": "E", "gender": "F" },
  { "name": "F", "gender": "M" },
  { "name": "G", "gender": "F" },
  { "name": "H", "gender": "M" },
  { "name": "I", "gender": "F" },
  { "name": "J", "gender": "M" },
  { "name": "K", "gender": "F" },
  { "name": "L", "gender": "M" }
]
coll_create.insert_many(data1)

In [7]:
#find() without any arguments returns all
print("find without parameters")
for i in coll_create.find():
    print(i)
print("find with parameters")    
#find() with argument
for i in coll_create.find({'name' : {'$regex':'^A'}}):
    print(i)
print("find_one")
#find_one() returns first occurence
coll_create.find_one()

find without parameters
{'_id': ObjectId('63f6364b427b0a9d6bad3550'), 'name': 'Adithya', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3551'), 'name': 'A', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3552'), 'name': 'B', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3553'), 'name': 'C', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3554'), 'name': 'D', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3555'), 'name': 'E', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3556'), 'name': 'F', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3557'), 'name': 'G', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3558'), 'name': 'H', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3559'), 'name': 'I', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad355a'), 'name': 'J', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad355b'), 'name': 'K', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad355c'), 'name': 'L', 'gender': 'M'}
find with parameters
{'_id': ObjectId('63f6364b427b0a9d6bad3550'), 'name': 'Adithya', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3551'), 'name': 'A', 'gender': 'F'}
find_one

{'_id': ObjectId('63f6364b427b0a9d6bad3550'), 'name': 'Adithya', 'gender': 'M'}

### Q5

### When `find()` method is used with collection object. When no parameters are passed then find returns all data present in collection. We can also use with parameters like regex, comparison operations like greater than, less than, etc. Second parameter is used to specify which fields to include in output.
### Below is sample code to get data from a collection.

In [11]:
for i in coll_create.find({'gender':{'$eq':'M'}},{'name'}):
    print(i)

{'_id': ObjectId('63f6364b427b0a9d6bad3550'), 'name': 'Adithya'}
{'_id': ObjectId('63f6364c427b0a9d6bad3552'), 'name': 'B'}
{'_id': ObjectId('63f6364c427b0a9d6bad3554'), 'name': 'D'}
{'_id': ObjectId('63f6364c427b0a9d6bad3556'), 'name': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3558'), 'name': 'H'}
{'_id': ObjectId('63f6364c427b0a9d6bad355a'), 'name': 'J'}
{'_id': ObjectId('63f6364c427b0a9d6bad355c'), 'name': 'L'}

### In above code we have passed two parameters, one for condition i.e. pick records of gender male only, second display name only.

In [12]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f6364b427b0a9d6bad3550'), 'name': 'Adithya', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3551'), 'name': 'A', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3552'), 'name': 'B', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3553'), 'name': 'C', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3554'), 'name': 'D', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3555'), 'name': 'E', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3556'), 'name': 'F', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3557'), 'name': 'G', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3558'), 'name': 'H', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3559'), 'name': 'I', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad355a'), 'name': 'J', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad355b'), 'name': 'K', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad355c'), 'name': 'L', 'gender': 'M'}

### In above code we have'nt passed any parameters, hence all records and all columns are printed.
### Similarly, we can write variety of conditions and retrieve data with utmost customization.

### Q6

### `sort()` method is used on collection object `find()` method to print result in ascending or descending order.

In [13]:
for i in coll_create.find().sort('name'):
    print(i)

{'_id': ObjectId('63f6364c427b0a9d6bad3551'), 'name': 'A', 'gender': 'F'}
{'_id': ObjectId('63f6364b427b0a9d6bad3550'), 'name': 'Adithya', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3552'), 'name': 'B', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3553'), 'name': 'C', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3554'), 'name': 'D', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3555'), 'name': 'E', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3556'), 'name': 'F', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3557'), 'name': 'G', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3558'), 'name': 'H', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3559'), 'name': 'I', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad355a'), 'name': 'J', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad355b'), 'name': 'K', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad355c'), 'name': 'L', 'gender': 'M'}

### Above one is ascending order. `sort()` method takes second parameter also. 1 is default which is for ascending and -1 is for descending.

In [14]:
for i in coll_create.find().sort('name',-1):
    print(i)

{'_id': ObjectId('63f6364c427b0a9d6bad355c'), 'name': 'L', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad355b'), 'name': 'K', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad355a'), 'name': 'J', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3559'), 'name': 'I', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3558'), 'name': 'H', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3557'), 'name': 'G', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3556'), 'name': 'F', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3555'), 'name': 'E', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3554'), 'name': 'D', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3553'), 'name': 'C', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3552'), 'name': 'B', 'gender': 'M'}
{'_id': ObjectId('63f6364b427b0a9d6bad3550'), 'name': 'Adithya', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3551'), 'name': 'A', 'gender': 'F'}

### Q7

### `delete_one()` method is used to delete one document and it takes one parameter which is query definition of the document to be deleted.
### `delete_many()` method is used to delete more than one document and it takes one parameter which is query definition of the documents which are to be deleted.
### `drop()` is used to delete a collection from database.
### Below are examples of above three methods.

In [15]:
coll_create.delete_one({"name":"Adithya"})
print("can see the result without a record of name Adithya.")
for i in coll_create.find():
    print(i)

can see the result without a record of name Adithya.
{'_id': ObjectId('63f6364c427b0a9d6bad3551'), 'name': 'A', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3552'), 'name': 'B', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3553'), 'name': 'C', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3554'), 'name': 'D', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3555'), 'name': 'E', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3556'), 'name': 'F', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3557'), 'name': 'G', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3558'), 'name': 'H', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad3559'), 'name': 'I', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad355a'), 'name': 'J', 'gender': 'M'}
{'_id': ObjectId('63f6364c427b0a9d6bad355b'), 'name': 'K', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad355c'), 'name': 'L', 'gender': 'M'}

In [18]:
coll_create.delete_many({"gender":{"$eq":"M"}})
print("can see the result without any 'M' gender.")
for i in coll_create.find():
    print(i)

can see the result without any 'M' gender.
{'_id': ObjectId('63f6364c427b0a9d6bad3551'), 'name': 'A', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3553'), 'name': 'C', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3555'), 'name': 'E', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3557'), 'name': 'G', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad3559'), 'name': 'I', 'gender': 'F'}
{'_id': ObjectId('63f6364c427b0a9d6bad355b'), 'name': 'K', 'gender': 'F'}

In [19]:
coll_create.drop()
for i in coll_create.find():
    print(i)

### Above print() function doesn't print anything because collection is dropped.