### Q1

### A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS) in a way to easily access and manage.
### Differences between SQL and NoSQL databases
### The major difference between these is relational(SQL) and non-relational(NoSQL); and type of schema, fixed(SQL) and dynamic(NoSQL).
|S.No|Category|SQL Database|NoSQL Database|
|:--------:|:--------:|:--------:|:--------:|
|1.|Type|Relational Database Management System.|Non-relational or distributed database system.|
|2.|Schema Type|Fixed or static predefined|Dynamic|
|3.|Scalability |Vertical i.e. can increase load on same server|Horizontal i.e. can add servers hence prefered for large applications|
|4.|Structure|Table(row-column) based|key-value pairs, document-based, graph databases or wide-column stores.|
|5.|Property followed|ACID-Atomicity, Consistency, Isolation and Durability|CAP-Consistency, Availability and Partition tolerance|
|6.|Query type|These databases are best suited for complex queries|These databases are not so good for complex queries|
|7.|Query languages|MySQL, PostgreSQL, Oracle, MS-SQL Server, etc|MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc|

### Q2

### Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). As name tells DDL commands are for defining tables. DDL consist of Commands like CREATE, ALTER, TRUNCATE and DROP.
### CREATE - used to create a table.
```SQL
CREATE TABLE BOOK
(
book_Id number(2),
book_name varchar(30),
);
```
### DROP - used to delete/remove an existing table.
```SQL
DROP TABLE BOOK;
```
### ALTER - used to add, delete or change columns in the existing table.
```SQL
ALTER TABLE BOOK
ADD Author varchar(30);

ALTER TABLE BOOK
MODIFY book_name varchar(40);
```
### TRUNCATE - used to remove all rows from the table, but the structure of the table still exists.
```SQL
TRUNCATE TABLE BOOK;
```

### Q3

### Data Manipulation Language(DML) is a subset of SQL and a part of DBMS(Database Management System). As name tells DML commands are for manipulating/changing data in tables. DML consist of Commands like INSERT, UPDATE, DELETE and LOCK.
### INSERT - used to insert data into table.
```SQL
INSERT INTO BOOK (book_Id,book_name,Author) VALUE ('1','ABC','ABC');
```
### UPDATE - used to update existing data within a table.
```SQL
UPDATE BOOK SET Author = 'Adithya' WHERE book_name = 'ABC';
UPDATE BOOK SET Author = 'Adithya', book_Id = '1' WHERE book_name = 'ABC';
```
### DELETE - used to delete records from table.
```SQL
DELETE FROM BOOK WHERE book_name = 'ABC'
```

### Q4

### Data Query Language(DQL) is a subset of SQL and a part of DBMS(Database Management System). As name tells DQL commands are retrieve data from tables. DQL consist of Commands like SELECT.
### SELECT - used to select data in required format from a table.
```SQL
SELECT * FROM BOOK;

SELECT book_Id FROM BOOK;

SELECT book_Id FROM BOOK WHERE book_name = 'ABC';
```

### Q5

### Primary Key - A primary key is the column or combination of columns that contain values that uniquely identify each row in a table. A database table is highly preferable to have a primary key for insert, update, restore, or delete data operation from a database table. Example: book_Id in BOOK table.
### Foreign Key - A foreign key is a column or combination of columns in a table whose values must match values of a column in some other table. Example: An employees department id in employee table and department id will be primary key of department table.

### Q6

### Below is the code to connect MySQL. First 6 lines are written to establish a connection. `cursor()` is the method to get the cursor object which later can be used for other methods(as shown in below query) like `fetch()`, etc. `execute()` is the method which takes an sql query as paramaeter and executes the query(as shown in below query).
```Python
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

mycursor = mydb.cursor()

mycursor.execute("select * from test1.test_table")
print(mycursor.fetchall())

mycursor.execute("select * from test1.test_table")
for i in mycursor.fetchall():
    print(i)

mydb.close()
```

### Q7

### The order in which the clauses in queries are executed is as follows:
1. FROM/JOIN
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT/OFFSET